:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* DIV CONTAINERS */

.root {
  display: flex;
  margin-top: 2%;
  height: 1080px;
  border-radius: 10px;
}

#sidebar {
  max-width: 20%;
  flex: 1;
  height: 100%;
  border-radius: 10px;
}

#display {
  margin-left: 2%;
  max-width: 100%;
  flex: 1;
  background-color: rgb(207, 207, 207);
  border-radius: 10px;
}

#sidebar {
  background-color: rgb(217, 123, 22);
  width: 25%
}

#main {
  border-radius: 10px;
}

/* END OF DIV CONTAINERS */

/* TABLES CSS */ 
.dataTable {
  text-align: left;
  width: 97%;
}

.menu {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.menu:hover {
  color:rgb(255, 195, 130);
}

/* END OF TABLE CSS */


#resourceContainer {
  width: 100%;
}

#title {
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 35px;
}

#error {
  margin-top: 10%;
  margin-bottom: 0;
  color: black;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

#errorText {
  margin-top: 0%;
  font-size: 20px;
  text-align: center;
}

#home {
  text-align : center;
  font-size: 50px;
  font-weight: 900;
  color:#3c3c3c;
}

.projectName {
  margin-top: 30px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color:rgb(36, 36, 36);
  line-height: 50px;
  margin-bottom: 0%;
  

}

.projectDescription {
  margin-top: 1%;
  color: rgb(19, 19, 19);
  font-size: 20px;
  line-height: 0px;
}

#divider {
  margin-bottom: 10%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}