:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(20, 20, 20, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TABLES CSS */ 
.dataTable {
  text-align: left;
  width: 97%;
  padding: 2rem;
}



/* END OF TABLE CSS */

h1 {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 35px;
}

/* -------------------- APP.JSX -----------------------------*/

/* ------ OUTER BOX ----------- */
#sidebar {
  width: 250px;
  height: 875px;
  flex-shrink: 0;
  background-color:#f6f6f6 ;
  border-radius: 10px;
  box-shadow: 1px 4px 10px rgba(0, 0.1, 0, 0.1);
  margin-right: 10;
}

#imageContainer {
  width : 200px;
  height : 100px;
  background-image: url(./assets/twice.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 60px;
  margin-top: 30px;
}

#outlet {
  flex: 1;
  padding-left: 30px;
  padding-left: 15rem;
  padding-right: 15rem;
}

/* --------- TEXT ---------- */
.menu, .menuActive {
  font-size: 22px;
  color: rgb(22, 21, 21);
  text-align: left;
  text-decoration: none;
  text-indent: 10%;
  padding: 10px;
}

.menu:hover {
  color:rgb(244,28,28);
  background-color: rgb(222, 222, 222);
}

.menuActive {
  background-color: rgb(244,28,28);
  color: white;
  font-weight: bold;
}

/* -------------------- HOME.JSX -----------------------------*/

#home {
  text-align : center;
  font-size: 50px;
  font-weight: 900;
  color:#3c3c3c;
}


/* -------------------- PROJECTS.JSX -----------------------------*/

/* ---- LAYOUT COMPONENTS ---- */

#projectContainer {
  background-color: rgb(249, 249, 249);
  height: auto;
  width: auto;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0px 4px 10px rgba(66, 66, 66, 0.1);
  padding: 1;
}

/* ------- ELEMENTS -------- */

#projectName {
  margin-bottom: 0px; 
  padding-bottom: 0;
}

#projectDescription {
  margin-top: 0;
  color: rgb(78, 78, 78);
}



/* ---------------- TABLES ----------------- */
.tableHeader {
  font-size: 30px;
  background-color:#fc0339;
  color:#f6f6f6;
}




































/* -------------------- ERROR_PAGE/INDEX.JSX -----------------------------*/

#error {
  margin-top: 10%;
  margin-bottom: 0;
  color: black;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
}

#errorText {
  margin-top: 0%;
  font-size: 20px;
  text-align: center;
}

/* ----------------------- CONTAINERS PER PAGE ------------------------*/

.containers {
  height: auto;
  width: auto;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 4px;
}