:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #04041c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* DIV CONTAINERS */
#top, #lowerleft, #lowerright {
  background-color : rgb(40, 38, 79);
  border-radius: 10px;
}

#lowerSection {
  display: flex;
  margin-top: 2%;
}

#lowerleft {
  max-width: 100%;
  flex: 1;
}

#lowerright {
  margin-left: 2%;
  max-width: 100%;
  flex: 1;
}



/* END OF DIV CONTAINERS */

/* TABLES CSS */ 
.dataTable {
  text-align: left;
  width: 97%;
  
}

/* END OF TABLE CSS */


#resourceContainer {
  width: 100%;
}

#title {
  text-align: center;
}

h1 {
  color: rgb(248, 133, 17);
  text-align: left;
  text-indent: 20px;
  font-size: 30px;
}

.projectName {
  text-align: center;
  color:rgb(255, 255, 255);
  line-height: 5px;
}

.projectDescription {
  margin-top: 0%;
  line-height: 1;
  color: rgb(171, 171, 171);
}

#divider {
  margin-bottom: 10%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}